**/.env*
**node_modules/
**/*.edf*
**.DS_store
**metadata*.json
**subjects.txt
**.terraform*
**terraform.tfstate*
*token*
**.EDF
**.edf
**.xml
**.XML
**.pyc 
**dist/
**.egg-info/
**build/
**__pycache__/